[submodule "third-party/verilator"]
	path = third-party/verilator
	url = https://github.com/verilator/verilator.git
[submodule "third-party/cbmc"]
	path = third-party/cbmc
	url = https://github.com/diffblue/hw-cbmc.git
[submodule "third-party/uvm-latest"]
	path = third-party/uvm-latest
	url = https://github.com/chipsalliance/uvm-verilator.git
[submodule "third-party/fmv"]
	path = third-party/fmv
	url = https://github.com/aviadb/fmv
[submodule "third-party/xschem"]
	path = third-party/xschem
	url = git@github.com:StefanSchippers/xschem.git
[submodule "third-party/ngspice"]
	path = third-party/ngspice
	url = https://git.code.sf.net/p/ngspice/ngspice
[submodule "third-party/yosys"]
	path = third-party/yosys
	url = https://github.com/YosysHQ/yosys.git
