[submodule "third-party/verilator"]
	path = third-party/verilator
	url = https://github.com/verilator/verilator.git
[submodule "third-party/cbmc"]
	path = third-party/cbmc
	url = https://github.com/diffblue/hw-cbmc.git
