[submodule "third-party/verilator"]
	path = third-party/verilator
	url = https://github.com/verilator/verilator.git
[submodule "third-party/uvm-latest"]
	path = third-party/uvm-latest
	url = https://github.com/chipsalliance/uvm-verilator.git
